body {
  background-color: #C4C4C4 ;
 }

.button {

  transition-duration: 0.5s;
  background-color: #4CAF50;
  border: none;
  padding: 15px 32px;
  color: white;
  border-radius: 2px;
  display: inline-block;
 }
#resetbutton {
  background-color: #F24141;
}

#button1 {
  float: left;
}
#button1:hover {
   background-color: black;
   color: white;
 }
#resetbutton:hover {
   background-color: black;
   color: white;
 }
#label-name {
	padding: 10px;
}

--dropdown--

.dropdown {
    position: relative;
    display: inline-block;
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #B2DEED;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#dropdown {
  background-color: Red;
}
